* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.circle.active {
    border-color: rgb(53, 53, 206);
    color: rgb(53, 53, 206);
}

#preview {
    max-width: 200px;
    max-height: 200px;
    margin-top: 10px !important;
    border: 1px solid #ccc;
    border-radius: 12px;
    margin: auto;
}